
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

header, footer {
  width: 100%;
  height: 90px;
  background-color: black;
  color: white;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.left{
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-evenly;
}
.right{
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.right_sm{ 
  display: none;
}

.logo{
  margin-left: 40px;
  margin-right: 10px;
  background-image: url('../app//images//logo.svg');
  width: 50px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.8s ease-in, opacity 0.8s ease-out;
}

.user{
  margin: 0 20px;
  background-image: url('../app/images//user.svg');
  width: 40px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.8s ease-in, opacity 0.8s ease-out;
}

.basket{
  background-image: url('../app/images//basket.svg');
  width: 40px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.8s ease-in, opacity 0.8s ease-out;
  position: relative;
}
.basket_quantity{
  position: absolute;
  top: 20px;
  right: -20px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  background-color: rgb(242, 30, 168);
  padding: 5px 10px;
  border-radius: 50%;
}

.basket:hover{
  background-image: url('../app//images//basket_pink.svg');
}
.logo:hover{
  background-image: url('../app//images//logo_pink.svg');
}
.user:hover{
  background-image: url('../app//images//user_pink.svg');
}

footer{
  text-transform: lowercase;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}

.nf_wrapp{
  background-image: url('./images//closed.jpeg');
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}
.nf_head{
  color: rgb(242, 30, 168);
}
.nf_link{
  color: black;
}

@media screen and (max-width: 992px ){
  .right{
    display: none;
  }
  .logo{
    display: none;
  }
}
