@import  'variables';
@import 'mixins';

.authpage{
    background-image: url('../images//open.jpeg');
    background-size: cover;
    background-position: 0 -50px;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.authpage_head{
    margin-bottom: 20px;
    span{
        color: $pink;
    }
}
.authpage_link{
    line-height: 100px;
    margin-top: 20px;
    button{
      @include btn;
    }
    button:hover{
        @include btn_hover;
    }

}
   
