@import  'variables';
@import 'mixins';

.authpage{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.authpage_head{
    margin-bottom: 20px;
}
.authpage_link{
    line-height: 100px;
    margin-top: 20px;
    button{
      @include btn;
    }
    button:hover{
        @include btn_hover;
    }

}
   
