@import  'variables';
.wrapp{
    background-image: url('../images/basket.jpeg');
    background-position: 0 0;
    background-size: cover;
    min-height: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 50px;
}
.empty{
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    span{
        color: $pink;
    }
}
// .confirm{
//     cursor: pointer;
//     width: 120px;
//     text-align: center;
//     height: 40px;
//     background-color: $pink;
//     color: white;
//     font-size: 24px;
//     text-transform: uppercase;
//     border: none;
//     text-decoration: none;
// }
.confirm {
    width: 120px;
    text-align: center;
    height: 40px;
    background-color: $pink;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    position: absolute;
    bottom: 50px;
    left: auto;
}

.confirm:hover{
    transition: 0.8s ease;
    background-color: white;
    color: $pink;
}
    
@media screen and (max-width: $breakpoint-medium){
    .wrapp{
        background-size: cover;
        flex-direction: column;
        padding-bottom: 0;
    }
    .confirm{
        position: relative;
        margin: 50px 0;
        bottom: 20px;
        right: auto;
    }
  }