@import  'variables';
.wrapp{
    display: flex;
    justify-content: flex-end;
}
.form{
    display: grid;
    grid-template-rows: repeat(4, auto);
    font-size: 18px;
    text-transform: uppercase;

    h2{
        text-align: center;
        span{
            color: $pink;
        }
    }
    textarea {
        resize: none;
        margin-bottom: 40px;
        height: 100px;
     }
    input{
        background: transparent;
        margin-bottom: 20px;
        padding-left: 10px;
        font-size: 18px;
        text-transform: capitalize;
        width: 400px;
        height: 40px;
        border: 3px solid black;
        outline: none;
        &:focus{
            outline: none;
            transition: 0.8s ease;
            border-color:$pink;
        }

    }
    button{
        margin: 0 auto;
        cursor: pointer;
        width: 100px;
        height: 40px;
        background-color:black;
        color: white;
        font-size: 24px;
        text-transform: uppercase;
        border: none;
    }
    button:hover{
        background-color: white;
        color: $pink;
    }
}

.error{
    width: 400px;
    padding: 0;
    color: $pink;
}
@media screen and (max-width: $breakpoint-small){
    .wrapp{ 
        input{
            width: 250px;
        }
       .error{
        width: 100%;
        text-align: center;
       }
    }
  }