@import  'variables';
.wrapp{
    background-image: url('../images//confirm.jpeg');
    background-position: 0 0;
    background-size: cover;
    min-height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

@media screen and (max-width: $breakpoint-medium){
    .wrapp{ 
        flex-direction: column;
        padding: 50px 0;
    }
  }