@import  'variables';
.item{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    font-size: 18px;
    color: $pink;
    padding: 20px;
    background-color: rgb(205, 203, 203);

}
