@import  'variables';
.wrapp{
    display: flex;
    flex-direction: column;
}
.sum{
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 22px;
    background-color: $pink;
    padding: 10px 20px;
}

    
@media screen and (max-width: $breakpoint-medium){
    .wrapp{ 
        margin-bottom: 30px;
    }
  }