.wrapp{
    background-image: url('../images//confirm.jpeg');
    background-position: 0 0;
    background-size: cover;
    min-height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}