@import  'variables';

.right_sm{ 
    background-color: rgba(0, 0, 0, 0.577);
    width: 40%;
    height: 85%;
    display: none;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 0;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    z-index: 999;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;

.link{
    color:black;
    text-decoration: none;
    color: $pink;
}

.name{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: $pink;
    font-size: 24px;
    span{
        display: block;
    }
}
  
  .logo{
    background-image: url('../images//logo.svg');
    width: 40px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.8s ease-in, opacity 0.8s ease-out;
  }
  
  .user{
    background-image: url('../images//user.svg');
    width: 40px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.8s ease-in, opacity 0.8s ease-out;
  }
  
  .basket{
    background-image: url('../images//basket.svg');
    width: 40px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.8s ease-in, opacity 0.8s ease-out;
    position: relative;
  }
  .basket_quantity{
    position: absolute;
    top: 20px;
    right: -20px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    background-color: rgb(242, 30, 168);
    padding: 5px 10px;
    border-radius: 50%;
  }
  
  .basket:hover{
    background-image: url('../images//basket_pink.svg');
  }
  .logo:hover{
    background-image: url('../images//logo_pink.svg');
  }
  .user:hover{
    background-image: url('../images//user_pink.svg');
  }

.close{
  width: 30px;
  height: 30px;
  background: none;
  font-size: 34px;
  border: none;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 90px;
}
  
}
@media screen and (max-width: $breakpoint-medium){
  .right_sm{
     display: flex;
      height: 100vh;
      top: 0;
      padding-top: 90px;
  }
}