@import  'variables';
.overlay{
position: absolute;
z-index: 999;
width: 100%;
height: 115%;
display: flex;
justify-content: center;
align-items: center;

    .wrapp{
        position: absolute;
        width: 400px;
        height: 300px;
        border: 3px solid  $pink;
        display: flex;
        flex-direction: column;
        background-color: black;
        .text{
            margin-top: 70px;
            font-size: 24px;
            text-align: center;
            text-transform: uppercase;
            color: white;
        }
        .buttons{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-top: 70px;
        .btn{
            cursor: pointer;
            text-align: center;
            width: 30%;
            height: 40px;
            background-color:black;
            color: white;
            font-size: 24px;
            text-transform: uppercase;
            border: none;
            transition: all 0.4s ease-in-out;
            &:hover{
            background-color: white;
            color: $pink;
             }
           }
        }
    }
}
