.wrapp{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.left{
    img{
        width: 500px;
    }
}

.right{
    .name{
        font-size: 24px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    .description{
        white-space: pre-line;
        display: flex;
        flex-direction: column;
    }

    .descriptionList{
            list-style: none;
            width: 70%;
            display: flex;
            gap: 100px;
            justify-content: space-between;
            &__column{
                flex: 1;
                padding: 10px; 
            }
            li:nth-child(even){
                text-align: right;   
        }
    }
    .low{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        width: 70%;
        .price{
            font-size: 28px;
            span{
                font-size: 16px;
            }
        }
        .quantity{
            font-size: 22px;
            button{
                cursor: pointer;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: none;
                background-color: rgb(213, 211, 211);
                font-size: 22px;
            }
            span{
                margin: auto 10px;
            }
        }
        .volume{
            display: flex;
            flex-direction: row;
            span{
                cursor: pointer;
                display: block;
                padding: 10px;
                border: 1px solid black;
                font-size: 22px;
            }
            span:nth-child(2){
                border-right: none;
                border-left:  none;
                padding-left: 15px;
                padding-right: 15px;
            }
            span:nth-child(3){
                padding-left: 15px;
                padding-right: 15px;
            }

        }
        .buy{
            button{
                cursor: pointer;
                width: 100px;
                height: 40px;
                background-color:black;
                color: white;
                font-size: 24px;
                text-transform: uppercase;
                border: none;
            }
            button:hover{
                transition: 0.8s ease;
                background-color: white;
                color: rgb(242, 30, 168);
                text-decoration: underline;
                border: 1px solid rgb(231, 231, 231);
            }
        }
    }
}