@import  'variables';
.wrapp{
    min-height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-size: cover;

}
.barCount{
    background-image: url('../images//barcount.jpeg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.beer{
    background-image: url('../images//beer.jpeg');
}
.energetic{
    background-image: url('../images//energetic.jpeg');
}
.coctail{
    background-image: url('../images//coctail.jpeg');
}
.craft{
    background-image: url('../images//craft.jpeg');
}
.wine{
    background-image: url('../images//wine.jpeg');
}
.whiskey{
    background-image: url('../images//whiskey.jpeg');
}

.item{
    text-align: center;
    text-transform: uppercase;
    color: black;
    transition: 3s ease; //keep it for elements  moving apart 

    .image{
        margin: 0 auto;
        width: 250px;
        height: 250px;
        transition: transform 0.3s;
        :hover{
            transform: scale(1.1);
        }
        img{
            object-fit: contain; 
            width: 100%;
            height: 100%;
            transition: transform 0.3s;
            :hover{
                transform: scale(1.1);
            }
        }
    }
    .name{
        font-size: 22px;
        margin-top: 20px;
        transition: background-color 0.3s ease-in, opacity 0.3s ease-out;
    }
    .name:hover{
            background-color: black;
            color: $pink;
    }
    .description{
        font-size: 10px;
        margin-top: 10px;
    }
    .price{
        font-size: 22px;
        span{
            font-size: 16px;
        }
    }
}
  
@media (min-width: $breakpoint-small) {
    .wrapp {
      overflow-x: auto; 
    }
  } 

  @media screen and (max-width: $breakpoint-medium){
    .wrapp{
        padding: 50px 0;
        flex-direction: column;
        gap: 50px;
    }
  }