@import  'variables';
.wrapp{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
    min-height: 100%;
    padding: 0 70px;
}

.beer{
    background-image: url('../images//beer.jpeg');
}
.energetic{
    background-image: url('../images//energetic.jpeg');
}
.coctail{
    background-image: url('../images//coctail.jpeg');
}
.craft{
    background-image: url('../images//craft.jpeg');
}
.wine{
    background-image: url('../images//wine.jpeg');
}
.whiskey{
    background-image: url('../images//whiskey.jpeg');
}


.left{
    .image{
        width: 400px;
        height: 400px;
        img{
            object-fit: contain; 
            width: 100%;
            height: 100%;
        }
    }
}

.right{
    min-width: 600px;
    .name{
        font-size: 24px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }

    .description{
        white-space: pre-line;
        display: flex;
        flex-direction: column;
    }

    .descriptionList{
            list-style: none;
            display: flex;
            justify-content: space-between;
            &__column{
                // flex: 1;
                padding: 10px; 
            }
            li:nth-child(even){
                text-align: right;
                margin-left: 100px;   
        }
    }
    .low{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        width: 100%;
        position: relative;
        .price{
            position: absolute;
            font-size: 28px;
            span{
                font-size: 16px;
            }
        }
        .quantity{
            margin-left: 100px;
            font-size: 22px;
            button{
                cursor: pointer;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: none;
                background-color: rgb(213, 211, 211);
                font-size: 22px;
            }
            span{
                margin: auto 10px;
            }
        }
        .volume{
            display: flex;
            flex-direction: row;
            span{
                cursor: pointer;
                display: block;
                padding: 5px 10px;
                border: 1px solid black;
                font-size: 22px;
            }
            span:nth-child(2){
                border-right: none;
                border-left:  none;
                padding-left: 15px;
                padding-right: 15px;
            }
            span:nth-child(3){
                padding-left: 15px;
                padding-right: 15px;
            }

        }
        .buy{
            button{
                cursor: pointer;
                width: 100px;
                height: 45px;
                background-color:black;
                color: white;
                font-size: 24px;
                text-transform: uppercase;
                border: none;
            }
            button:hover{
                background-color: white;
                color: $pink;
            }
        }
    }
}
@media (min-width: $breakpoint-small) {
    .wrapp {
      overflow-x: auto; 
    }
  }

  @media screen and (max-width: $breakpoint-medium){
    .wrapp{
        padding: 50px;
        flex-direction: column;
        .right{
            .name{
                text-align: center;
            }
            .descriptionList{
                text-align: center;
            }
        }
    }
  }