@import  'variables';
.wrapp{
    position: relative;
    flex-direction: row;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .searchfield{
        color: white;
        padding: 3px 5px;
        font-size: 16px;
        background: transparent;
        border: 3px solid white;
        padding-left: 20px;
        width: 389px;
        height: 50px;
        margin-left: 20px;
        &:focus{
            outline: none;
            transition: 0.8s ease;
            border-color:$pink;
        }
    }
    input[type="search"]::-webkit-search-cancel-button{
        cursor: pointer;     
    }
    .searchhead{
        color: white;
        span{
            color: $pink;
        }
    }
    .scrollable {
        overflow-y: auto; 
        max-height: 300px; 
      }

    .searchbox{
        border: 3px solid $pink; 
        border-top: none;
        position: absolute;
        z-index: 999;
        width: 70%;
        right: 0;
        top: 69px;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .searchel {
        text-decoration: none;
        display: grid;
        align-items: center;
        gap: 50px;
        grid-template-columns: repeat(2, 100px);
        margin: 10px 0;
      
      .image {
        display: flex;
        align-self: flex-start;
        height: 70px;
        width: 70px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      
      .name {
        color: white;
        &:hover {
            transition: 0.8s ease;
            color: $pink;
        }
      }
    }
}

@media (max-width: $breakpoint-large) {
    .searchhead{
        display: none;
    }
    .searchbox{
        width: 95%!important;
       }
}   
@media (max-width: $breakpoint-medium) {
    .searchbox{
      width: 95%!important;
     }
  }  
@media (max-width: $breakpoint-small) {
  .wrapp {
    width: 100%;
    .searchfield{
      margin-left: 0;
    }
  }
  .searchbox{
    position:sticky;
    min-width: 800px;
    left: -90px;
   }
  .searchel{
    gap: 10px!important;
    width: 100%;
  }
  .name{
    padding-left: 150px;
  }
  .image{
    padding-right: 250px;
  }
}  