@import  'variables';
.wrapp{
    z-index: 999;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    
    .searchfield{
        color: white;
        padding: 3px 5px;
        font-size: 16px;
        background: transparent;
        border: 3px solid white;
        padding-left: 20px;
        width: 300px;
        height: 50px;
        margin-bottom: 20px;
        &:focus{
            outline: none;
            transition: 0.8s ease;
            border-color:$pink;
        }
    }
    input[type="search"]::-webkit-search-cancel-button{
        cursor: pointer;
        
    }
    .serachhead{
        margin: 5px;
        color: white;
        span{
            color: $pink;
        }
    }
}
