@import  'variables';
.wrapp{
    background-color: rgb(227, 227, 227);
    min-height: 100%;
    padding: 15px 0;

    .top{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
        font-size: 24px;
        button{
            cursor: pointer;
            width: 130px;
            height: 40px;
            background-color:black;
            color: white;
            font-size: 24px;
            text-transform: uppercase;
            border: none;
        }
        button:hover{
            transition: 0.8s ease;
            background-color: white;
            color: $pink;
            text-decoration: underline;
            border: 1px solid rgb(231, 231, 231);
        }
    }
    h6{
        text-align: center;
        font-size: 26px;
        margin: 20px 50px;
    }
    .link{
        text-decoration: none;
        margin: 50px 0;
    }

    .time{
        display: flex;
        width: 30%;
        justify-content: flex-start;
        color: black;
        margin-left: 50px;
        border-bottom: 3px solid #000;
        span{
            background-color: $pink;
            padding: 0 10px;
            border-bottom:  3px solid  $pink;
        }
    }
    .adminWrapp{
        color: black;
        font-size: 18px;
        margin: 10px 50px 20px 50px; //mr 50px for graph
        display: flex;
        align-items: center;
        flex-direction: row;
        span{
            margin-right: 20px;
        }
                                //status this is for graph
    .status{
        margin-left: auto;
        text-transform: uppercase;
        padding: 10px 20px;
        background-color: black;
        color: white;
        }
    }
    .buttonsAdmin{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        margin: 10px 50px 0 50px;   //50 px ml only for graph
        button{  
            cursor: pointer;
            width: 120px;
            height: 40px;
            background-color:black;
            color: white;
            font-size: 18px;
            text-transform: uppercase;
            border: none;
            transition: background-color 0.7s, color 0.7s;
        }
        button:hover{
            background-color: white;
            color: $pink;
        }
        button:last-child{
            margin-left: 20px;
        }
    .total {                //this si only for graph
        margin-right: auto;
        align-self: center;
       font-size: 24px;
        span{
            font-size: 18px;
            color: $pink;
             };
        }
    }

    .item{
        padding: 20px;
        border: 1px solid rgb(195, 195, 195);
        font-size: 18px;
        color: black;
        margin: 0 50px 0 50px;
        display: grid;
        align-items: center;
        text-align: center;
        // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        transition: 0.8s ease;
        &:hover{
            transition: 0.8s ease;
            color: $pink;
        }
        .image{
            width: 100px;
            height: 100px;
            overflow: hidden;
        }
        .image img {
            width: 100%;
            height: 100%;
            object-fit: contain; 
          }
        .status{
            text-transform: uppercase;
        }
    }
    
    .text{
        font-size: 24px;
        margin: 40px 0 0 30px;
        vertical-align: center;
        color: $pink;
    }

    }
 

    @media screen and (max-width: $breakpoint-medium){
        .wrapp{
            .time{
                width: 100%;
                margin: 0;
                justify-content: center;
            }
            .adminWrapp{
                flex-direction: column;
                }
            .status{
                margin: 0 auto;
                }
            .item{
                display: flex;
                flex-direction: column;
            }
            }
      }